<!DOCTYPE html>
<html>
<head>
  <title>MixpanelDemo</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

  <%= render '/partials/mixpanel' %>
</head>

<body>
<%= render 'partials/navbar' %>

<div class="container">
  <div class="row">
    <%= yield %>
  </div>
</div>

<script>
  $(document).ready(function () {
    <% flash.each do |type, msg| %>
    <% alert_type = type.to_s.gsub('alert', 'red').gsub('warning', 'orange').gsub('success', 'green') %>
    <% message = msg.is_a?(Array) ? msg.join('<br>').html_safe : msg.html_safe %>

    if (!$(".toast:contains('<%= message %>')").length) {
      Materialize.toast("<%= message %>", 5000, '<%= alert_type %>');
    }

    <% end %>
  });
</script>

</body>
</html>
